<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= lang.login.page_title %></title>
    <link rel="shortcut icon" href="/img/penguin.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="text-align: center;">
    <form action="/auth/login" method="post" style="display: inline-block;; width: 300px; text-align: center;">
        <div class="mb-3">
            <label for="nameinput" class="form-label">Username</label>
            <input type="text" class="form-control" id="nameinput" name="username">
          </div>
          <div class="mb-3">
            <label for="passinput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passinput" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>